<section class="bg-[#1B5B31] relative py-[135px] section text-white" id="about">
  <div
    class="container hero md:pt-4 flex flex-col md:flex-row-reverse justify-between gap-16"
  >
    <div class="flex md:pl-20 xl:pl-40 flex-col justify-center w-full md:w-1/2">
      <p class="pb-3 text-xs md:text-sm">O firmie</p>
      <h2 class="pb-6 text-3xl md:text-5xl font-medium font-montserrat">
        Tworzymy z <i class="font-inter">pasją</i>
      </h2>
      <span class="pb-10 text-base md:text-lg font-normal tracking-tighter">
        Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą
        wykwalifikowani projektanci oraz architekci, których zadaniem jest
        rozpoznanie i realizacja potrzeb każdego Klienta. Nasza specjalizacja to
        przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria i
        elegancka prostota. Tworzymy ogrody małoobsługowe, dostosowane do
        współczesnego trybu życia.
      </span>
      <div class="flex gap-6">
        <button
          class="flex gap-2 items-center px-6 pt-3 pb-3.5 text-white bg-transparent rounded-3xl border border-white"
        >
          Poznaj nas bliżej
          <svg class="rotate-[270deg]" width="16" height="16">
            <use href="./images/svg/array.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <img
    class="absolute top-0 left-0 w-1/2 h-full hidden md:flex md:flex-row overflow-auto object-cover"
    srcset="./images/realizacje.jpg 1x, ./images/realizacje@2x.jpg 2x"
    alt="pattern"
  />
</section>
