<footer
  class="bg-[#111111] relative px-[20px] py-[80px] lg:px-[200px]"
  id="contact"
>
  <div class="text-[#F5F0EC]">
    <div>
      <div
        class="flex flex-col lg:flex-row lg:justify-between items-center border-b border-[#F5F0EC] pb-[62px] gap-12"
      >
        <a>
          <svg width="115px" height="20px">
            <use href="../images/svg/giarddesign.svg#giarddesign"></use>
          </svg>
        </a>
        <div class="flex items-center flex-col lg:flex-row gap-6">
          <span class="tracking-tighter">
            Daj znać, co możemy dla Ciebie zrobić!
          </span>
          <button
            class="lg:ml-6 w-[208px] px-6 pt-3 pb-3.5 rounded-3xl border bg-[#1B5B31] border-[#1B5B31]"
          >
            Skontaktuj się z nami
          </button>
        </div>
      </div>
      <div
        class="flex flex-col lg:flex-row items-center justify-center lg:justify-between mt-[62px] text-sm tracking-tighter gap-12"
      >
        <ul class="flex flex-col lg:flex-row lg:gap-12 gap-6">
          <li><a href="mailto:giarddesign@kontakt.pl">Kontakt</a></li>
          <li><a href="https://www.instagram.com/">Instagram</a></li>
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://www.linkedin.com/">Linkedin</a></li>
        </ul>
        <ul
          class="flex flex-col lg:flex-row items-center justify-center lg:justify-between lg:gap-12 gap-6"
        >
          <li><a href="tel:000-000-000">000-000-000</a></li>
          <li>
            <a href="mailto:giarddesign@kontakt.pl">giarddesign@kontakt.pl</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="mt-[120px] flex flex-col lg:flex-row justify-between items-center"
    >
      <span class="tracking-tighter">Prawa zastrzeżone © 2022</span>
      <div class="flex gap-4">
        <span class="tracking-tighter">made by</span>
        <img
          srcset="
            ../images/logo-full-light.png    1x,
            ../images/logo-full-light@2x.png 2x
          "
          alt="logo"
        />
      </div>
    </div>
  </div>
  <div></div>
</footer>
