<header class="z-10 w-[100%] m-w-[100%] font-inter" id="header">
  <nav
    class="container h-[60px] relative py-[calc(1.5rem-6px)] gap-[20px] flex flex-col md:flex-row md:justify-between md:items-center overflow-hidden md:overflow-visible"
  >
    <div id="hero-logo">
      <a href="#hero" id="nav-logo">
        <svg width="115px" height="20px">
          <use href="./images/svg/giarddesign.svg#giarddesign"></use>
        </svg>
      </a>
    </div>
    <div
      class="nav-links block md:flex md:flex-row text-2xl md:text-sm topnav responsive"
      id="myTopnav"
    >
      <ul class="md:flex">
        <div class="dropdown">
          <li
            class="cursor-pointer offer list-none px-6 py-4 dropbtn flex items-center gap-[7px]"
          >
            <a href="#offer" data-nav="offer">Oferta </a
            ><svg width="9" height="5">
              <use href="./images/svg/oferta-icon.svg#oferta"></use>
            </svg>
          </li>
          <div class="dropdown-content">
            <a href="#offer-1">Link 1</a>
            <a href="#offer-2">Link 2</a>
            <a href="#offer-3">Link 3</a>
          </div>
        </div>
        <li class="flex cursor-pointer about">
          <a class="px-6 py-4" href="#about" data-nav="about">O firmie</a>
        </li>
        <li class="flex cursor-pointer realizations">
          <a class="px-6 py-4" href="#realizations" data-nav="realizations">Realizacje</a>
        </li>
        <li class="flex cursor-pointer contact">
          <a class="px-6 py-4" href="#contact" data-nav="contact">Kontakt</a>
        </li>
        <li class="pl-6 search-container mt-4 md:mt-0 justify-end">
          <input id="search-input" class="search-input" />
          <svg class="search-icon w-6 h-6" width="24px" height="24px">
            <use href="./images/svg/search.svg#search"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="burger-button flex md:hidden" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
