<header class="m-w-[100%] container font-inter" id="header">
  <nav
    class="relative py-[calc(1.5rem-6px)] gap-[20px] flex flex-col md:flex-row md:justify-between md:items-center overflow-hidden md:overflow-visible"
  >
    <a id="nav-logo">
      <svg width="115px" height="20px">
        <use href="../images/svg/giarddesign.svg#giarddesign"></use>
      </svg>
    </a>

    <ul
      id="nav-links"
      class="nav-mobile md:flex gap gap-12 text-sm items-center md:items-center"
    >
      <li class="relative" id="dropdown">
        <!-- <a href="#oferta">Oferta</a> -->
        <button class="flex items-center gap-[7px]">
          <span>Oferta</span>
          <svg width="9" height="5">
            <use href="../images/svg/oferta-icon.svg#oferta"></use>
          </svg>
        </button>
        <ul id="dropdown-content" class="hidden z-10">
          <li><a href="#">Usługa 1</a></li>
          <li><a href="#">Usługa 2</a></li>
          <li><a href="#">Usługa 3</a></li>
        </ul>
      </li>
      <li><a href="#ofirmie">O firmie</a></li>
      <li><a href="#realizacje">Realizacje</a></li>
      <li><a href="#contact">Kontakt</a></li>
      <li class="search-container mt-4 md:mt-0 justify-end">
        <input id="search-input" class="search-input" />
        <svg class="search-icon w-6 h-6" width="24px" height="24px">
          <use href="../images/svg/search.svg#search"></use>
        </svg>
      </li>
    </ul>
    <div class="burger-button flex md:hidden" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
