<section class="bg-[#DCC1AB] relative section" id="hero">
  <div
    class="container hero md:pt-4 flex flex-col md:flex-row justify-between gap-16"
  >
    <div
      class="text-white flex md:pr-16 flex-col justify-center w-full md:w-1/2 relative z-10"
    >
      <h1
        class="text-4xl md:text-[#111111] md:text-5xl lg:text-6xl font-medium font-montserrat pb-11"
      >
        Nowoczesna aranżacja Twojego ogrodu
      </h1>
      <span class="pb-6 text-base md:text-[#111111] md:pb-72px">
        Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka
        realizacji. Oferujemy kompleksowy zakres usług z indywidualnym
        podejściem do każdego projektu.
      </span>
      <div class="flex items-center flex-col lg:flex-row gap-9">
        <button
          class="px-6 pt-3 pb-3.5 bg-[#1B5B31] text-white rounded-3xl hover:bg-[#184923]"
        >
          Skontaktuj się z nami
        </button>
        <button
          class="flex items-center gap-2 px-6 pt-3 pb-3.5 bg-[#1B5B31] hover:bg-[#184923] text-white md:bg-transparent md:hover:bg-transparent md:text-emerald-800 border border-[#1B5B31] rounded-3xl hover:border-[#184923] md:hover:text-[#184923]"
        >
          <a href="#realizacje"> Zobacz nasze realizacje </a>
          <svg class="w-4 h-4">
            <use href="../images/svg/array.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <img
    class="absolute top-0 right-0 w-full md:w-1/2 h-full md:flex md:flex-row overflow-auto object-cover z-0"
    srcset="../images/Photo.jpg 1x, ../images/Photo@2x.jpg 2x"
    alt="pattern"
  />
  <div
    class="absolute top-0 right-0 w-full md:w-1/2 h-full z-1"
    style="background: linear-gradient(#2f303a9c, #2f303a2e)"
  ></div>
</section>
