<section
  class="bg-[#F5F0EC] relative lg:py-[60px] lg:px-[200px]"
  id="instagram"
>
  <div
    class="bg-[#1B5B31] text-white px-6 lg:px-[110px] py-[120px] flex flex-col lg:flex-row gap-6 lg:gap-16 items-end"
  >
    <h2
      class="text-3xl lg:text-[40px] font-montserrat tracking-tight leading-[120%]"
    >
      Bądźmy w kontakcie! Odnajdziesz nas na
      <i class="font-inter tracking-[1px] font-medium">Instagramie</i>.
    </h2>
    <div class="flex flex-col gap-4 lg:gap-6">
      <span class="text-xs lg:text-sm font-normal block tracking-tighter">
        Śledź nasze najnowsze realizacje!
      </span>
      <button
        class="w-[100px] lg:w-[124px] px-3 lg:px-6 py-2 lg:py-3.5 text-[#1B5B31] rounded-3xl border bg-white border-white"
      >
        <a href="https://www.instagram.com/">Instagram</a>
      </button>
    </div>
  </div>
</section>
