<section class="bg-[#F5F0EC] pt-[120px] pb-[160px] section" id="offer">
  <div class="container">
    <div class="lg:px-[120px] pb-24">
      <p class="pb-3 text-xs md:text-sm">Oferta</p>
      <h2
        class="pb-8 text-3xl md:text-5xl font-montserrat font-medium tracking-tight"
      >
        Działamy <i class="font-inter">kompleksowo</i>
      </h2>
      <span class="text-base md:text-lg leading-6 tracking-[0.001em]">
        Oferujemy kompletną obsługę inwestycji terenów zielonych. Projektujemy
        nowoczesne ogrody przydomowe oraz rezydencjonalne. Stworzymy dla Ciebie
        projekt, zwizualizujemy go i wcielimy w życie, a na każdym etapie
        posłużymy radą i wieloletnim doświadczeniem.
      </span>
    </div>
    <div
      class="flex flex-col lg:flex-row items-center justify-center gap-8 xl:gap-16"
      id="cards"
    ></div>
  </div>
</section>
