<section class="bg-[#DCC1AB] relative section" id="realizacje">
  <div>
    <div class="px-[20px] lg:px-[160px]">
      <p class="pb-3 text-xs md:text-sm">Realizacje</p>
      <h2 class="text-3xl md:text-5xl font-medium font-montserrat pb-24">
        Nasze <i>projekty</i>
      </h2>
    </div>
    <div class="masonry">
      <!-- Tutaj będą dodawane elementy realizacji -->
    </div>
    <button
      id="expand-button"
      class="flex gap-2 items-center px-6 pt-3 pb-3.5 text-black rounded-3xl border border-black -translate-x-2/4 relative left-1/2 bottom-[-20px] z-10"
    >
      Rozwiń
      <svg width="16" height="16">
        <use href="../images/svg/array.svg#arrow"></use>
      </svg>
    </button>
  </div>
</section>
