.input-filled,
.search-container:hover .search-input,
.search-container:focus-within .search-input {
  width: 150px;
  outline: 1px solid #ccc;
}

.no-outline {
  outline: none;
}

/* Style dla przycisku "burger menu" */
.section {
  z-index: 1;
}

/*
  masonry
*/
.masonry {
  max-height: 1000px;
  overflow: hidden;
}
.masonry::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: 1;
  /* Wysokość efektu blura */
  background: linear-gradient(rgba(255, 255, 255, 0.01), #dcc1ab);
}

.expanded::before {
  background: none;
  height: 0;
}

.show {
  height: 100vh;
  transition: height 0.3s ease-in-out;
}
nav {
  height: 60px;
  transition: height 0.3s ease-in-out;
}

/*
  MODAL BUTTON
*/
.burger-button {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 16px;
  top: 6px;
  cursor: pointer;
  margin: 0px;
  padding: 0px 15px;
  z-index: 100;
  user-select: none;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: transform 0.3s ease 0s;
}

.burger-button span {
  position: relative;
  width: 150%;
  margin-top: -4px;
  z-index: 10;
}

.burger-button span::before {
  left: 0px;
  border-radius: 3px 0px 0px 3px;
  content: "";
  position: absolute;
  top: 0px;
  background: currentcolor;
  height: 4px;
  width: 50%;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
  transform-origin: center center;
}

.burger-button span::after {
  right: 0px;
  border-radius: 0px 3px 3px 0px;
  content: "";
  position: absolute;
  top: 0px;
  background: currentcolor;
  height: 4px;
  width: 50%;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
  transform-origin: center center;
}

.burger-button span + span {
  margin-top: 8px;
}

.burger-button.active span:nth-of-type(1)::before {
  transform: translate3d(3px, 4.5px, 0px) rotate(45deg);
}
.burger-button.active span:nth-of-type(1)::after {
  transform: translate3d(-3px, 4.5px, 0px) rotate(-45deg);
}
.burger-button.active span:nth-last-of-type(2)::before {
  transform: translateX(-200%);
}
.burger-button.active span:nth-last-of-type(2)::after {
  transform: translateX(200%);
}
.burger-button.active span:nth-of-type(3)::before {
  transform: translate3d(3px, -5.5px, 0px) rotate(-45deg);
}
.burger-button.active span:nth-of-type(3)::after {
  transform: translate3d(-3px, -5.5px, 0px) rotate(45deg);
}
.burger-button.active span:nth-of-type(2)::before,
.burger-button.active span:nth-of-type(2)::after {
  opacity: 0.0001;
}

/*
 OFERTA
*/

.active {
  color: #fff;
  background-color: #555;
}
.topnav {
  overflow: hidden;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav li:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
  fill: white;
}

.topnav .search-container:hover {
  background-color: transparent;
  color: #111;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    width: 100%;
    text-align: left;
  }
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  left: -16px;
  min-width: 100px;
  padding: 12px 16px;
}

#dropdown:hover #dropdown-content {
  display: block;
}

/* Styl dla efektu hover */
.mini-card {
  transition: transform 0.2s ease-in-out;
}

.mini-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
