.search-container {
  position: relative;
  display: flex;
  align-items: center;
  transition: width 0.5s;
}

.search-input {
  width: 0;
  border-radius: 5px;
  transition: width 0.6s;
  overflow: hidden;
  padding: 5px 10px;
  outline: 1px solid #ccc;
}

.search-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: transform 0.6s;
}

.input-filled,
.search-container:hover .search-input,
.search-container:focus-within .search-input {
  width: 150px;
  outline: 1px solid #ccc;
}

.no-outline {
  outline: none;
}

/* Ukrywanie nawigacji na urządzeniach mobilnych */
/* .hidden {
    display: none;
  } */

/* Style dla przycisku "burger menu" */
.section {
  z-index: 1;
}

#header.container {
  max-width: 100%;
  z-index: 10;
}

#menu-toggle {
  cursor: pointer;
}

/* Styl nawigacji na urządzeniach mobilnych */

#hero.section {
  padding: 149px 0;
}

#oferta.section {
  padding-top: 120px;
  padding-bottom: 160px;
}

#ofirmie.section {
  padding: 135px 0;
}

#realizacje.section {
  padding-top: 120px;
}

#instagram.section {
  padding: 60px 200px;
}

.masonry {
  height: 1000px;
  overflow: hidden;
}
.masonry::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: 1;
  /* Wysokość efektu blura */
  background: linear-gradient(rgba(255, 255, 255, 0.01), #dcc1ab);
}
.expanded::before {
  background: none;
  height: 0;
}

.show {
  height: 200px;
  transition: height 0.3s ease-in-out;
}
nav {
  height: 60px;
  transition: height 0.3s ease-in-out;
}
/*
  MODAL BUTTON
*/
.burger-button {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 6px;
  cursor: pointer;
  margin: 0px;
  padding: 0px 15px;
  z-index: 100;
  user-select: none;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: transform 0.3s ease 0s;
}

.burger-button span {
  position: relative;
  width: 150%;
  margin-top: -4px;
  z-index: 10;
}

.burger-button span::before {
  left: 0px;
  border-radius: 3px 0px 0px 3px;
  content: "";
  position: absolute;
  top: 0px;
  background: currentcolor;
  height: 4px;
  width: 50%;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
  transform-origin: center center;
}

.burger-button span::after {
  right: 0px;
  border-radius: 0px 3px 3px 0px;
  content: "";
  position: absolute;
  top: 0px;
  background: currentcolor;
  height: 4px;
  width: 50%;
  transition: all 0.25s cubic-bezier(0.6, 0, 0.3, 1) 0s;
  transform-origin: center center;
}

.burger-button span + span {
  margin-top: 8px;
}

.burger-button.active span:nth-of-type(1)::before {
  transform: translate3d(3px, 4.5px, 0px) rotate(45deg);
}
.burger-button.active span:nth-of-type(1)::after {
  transform: translate3d(-3px, 4.5px, 0px) rotate(-45deg);
}
.burger-button.active span:nth-last-of-type(2)::before {
  transform: translateX(-200%);
}
.burger-button.active span:nth-last-of-type(2)::after {
  transform: translateX(200%);
}
.burger-button.active span:nth-of-type(3)::before {
  transform: translate3d(3px, -5.5px, 0px) rotate(-45deg);
}
.burger-button.active span:nth-of-type(3)::after {
  transform: translate3d(-3px, -5.5px, 0px) rotate(45deg);
}
.burger-button.active span:nth-of-type(2)::before,
.burger-button.active span:nth-of-type(2)::after {
  opacity: 0.0001;
}

/*
 OFERTA
*/

#dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  left: -25px;
  min-width: 100px;
  padding: 12px 16px;
}

#dropdown:hover #dropdown-content {
  display: block;
}

/* Styl dla efektu hover */
.mini-card {
  transition: transform 0.2s ease-in-out;
}

.mini-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
